
CACII/main/__pycache__/urls.cpython-39.pyc
CACII/main/__pycache__/urls.cpython-39.pyc
CACII/db.sqlite3
CACII/main/__pycache__/views.cpython-39.pyc
CACII/main/__pycache__/utils.cpython-39.pyc
CACII/main/__pycache__/urls.cpython-39.pyc
CACII/main/__pycache__/models.cpython-39.pyc
CACII/main/__pycache__/forms.cpython-39.pyc
/dj
*.pyc
*.pyc
/CACII/main/__pycache__
CACII/main/utils.py
.DS_Store
CACII/.DS_Store
CACII/db.sqlite3
*.pyc
CACII/db.sqlite3
*.sqlite3
*.pyc
