body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent vertical scrolling */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4; /* Light background color for better contrast */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 0; /* Remove any extra padding */
}

.sidebar {
    width: 50%;
    background-color: #144231;
    background-image: url('../app_bg.jpeg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* Adjust opacity to make the image lighter */
    z-index: -1; /* Ensure the overlay is behind the content */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Ensure text visibility if any */
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the form vertically */
    max-width: 500px; /* Adjust form width as needed */
    margin: 0 auto; /* Center the content horizontally */
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0 0 20px 0;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 0.9rem; 
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="city"],
.form-group select {
    font-size: 0.9rem; 
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; /* Ensure readability */
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="city"]:focus,
.form-group select:focus {
    border-color: #144231;
    outline: none;
}

.submit-button,
.register-button {
    background-color: #144231;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1rem; 
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.submit-button:hover,
.register-button:hover {
    background-color: #0f3c28;
}

label {
    margin-bottom: 10px;
}

p {
    margin-top: 25px;
    font-size: 0.9rem; 
}

@media (max-width: 1200px) {
    h2 {
        font-size: 1.2rem;
    }

    .form-group label {
        font-size: 0.8rem;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.8rem;
    }

    .submit-button,
    .register-button {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 1rem;
    }

    .form-group label {
        font-size: 0.7rem;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.7rem;
    }

    .submit-button,
    .register-button {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 0.9rem;
    }

    .form-group label {
        font-size: 0.6rem;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.6rem;
    }

    .submit-button,
    .register-button {
        font-size: 0.6rem;
    }

    p {
        font-size: 0.6rem;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 0.7rem;
    }

    .form-group label {
        font-size: 0.5rem;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.5rem;
    }

    .submit-button,
    .register-button {
        font-size: 0.5rem;
    }

    p {
        font-size: 0.5rem;
    }
}
