{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        #profile {
            border-bottom: 3px solid black;
        }
    </style>
    <h1>Profile!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
{% endblock %}