{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
    <style>
        #timeline {
            border-bottom: 3px solid black;
        }
    </style>
    <div id="content-wrapper">
        <section id="description">
            <h2>Welcome to your personalized guide!</h2>
            <img src="{% static 'navigate.jpeg' %}"id="map">
            <p>Navigating the legal, financial, and social systems of the United States can be tricky.</p>
            <p>However, with the articles provided in this guide and the interactive AI Chat Bot, you can develop a better understanding of the society around you.</p>
            <p>As you read through the articles, your "timeline" will slowly progress, and each section will check off.</p>
        </section>
    
        <section id="content">
            <a class="curriculum" href="{%url 'preview'%}?module=rights-and-responsibilities">Rights and Responsibilities</a>
            <a class="curriculum" href="{%url 'preview'%}?module=documentation">Documentation</a>
            <a class="curriculum" href="{%url 'preview'%}?module=financial">Financial</a>
            <a class="curriculum" href="{%url 'preview'%}?module=practical-needs">Pratical Needs</a>
            <a class="curriculum" href="{%url 'preview'%}?module=cultural-integration">Cultural Integration</a>
        </section>
    </div>
{% endblock %}